# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# Coverage
.coverage
.coverage.*
htmlcov/

# Environment files
.env
.env.*

# IDE/editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime/generated data
data/chroma/
/data/docs/0_TERMO-DE-REFERENCIA-100650-2022.pdf.pdf.pdf
/data/docs/68e02b4996e7b.pdf
/data/docs/TERMO+DE+REFERENCIA.pdf
/data/docs/Termo de Referencia - Ar Condicionado.pdf
/data/docs/TR Computador e Notebook.docx
/data/docs/TR Internet via satélite (ERP).docx
/data/docs/TR Ponto Eletrônico (ERP).docx
/data/docs/TR TV 42 Polegadas.docx
/data/docs/tr_empresa_de_ti.docx
